

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-group {
  margin-bottom: 3vh;
}


.card-image-thumbnail{
  width: 100%;
  object-fit: cover;
  height: 300px; /* only if you want fixed height */
  }


.activeNavbar {
  font-weight: bold;
}

.input-group {
  margin-top: 2em;
  margin-bottom: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

Link {
  text-decoration: none;
}

.spinner {
  animation: spin infinite 2s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

.loading-bar {
  background-color: blanchedalmond;
  
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}